{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Productos de Bodega {{productos.bodega_id}}</title>
    {% include "comun/estilos.html"%}
    {% load bootstrap5 %}
    <link rel="stylesheet" href={% static 'app/css/inventario.css' %} type="text/css">
   
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="card">
                <div class="card-header" style="background-color:#110273;">
                  <div class="row">     
                    <div class="col-6">
                      <!--<h3 style="color:white">Productos en {{bodega.nombre}}</h3>-->
                      <h3 style="color:white">Registro de Compra</h3>
                    </div>
                    <div class="col-6">
                      <!--<a class="btn btn-sm float-right" style="background-color:#F20505; color:white;" href="{% url 'app:listar_inventario' %}">Agregar Producto de Inventario</a>-->
                    </div>
                    
                  </div>
              </div>
                <div class="card-body">
                        <div class="container">
                            <div class="row mt-2">
                            <div class="col-12">
                                <form  method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                <div class="table-responsive">
                                    <div><input type="file" name="file_field" id="file_field" multiple></input>
                                <table cellspacing="0" id="tabla" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Clave solicitud</th>
                                        <th>Producto</th>
                                        <th >Solicitud</th>
                                        <th>Fecha</th>
                                        <th >Solicita</th>
                                        <th >Cantidad</th>
                                        <th>Unidad</th>
                                        <th>Compra</th>
                                        <th style="visibility:hidden">S</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in solicitudes %}
                                    <tr>
                                        <td>{{s.id}}</td>
                                        <td>{{s.descripcion}}</td>
                                        <td>{{s.solicitud}}</td>
                                        <td>{{s.fecha}}</td>
                                        <td>{{s.solicita}}</td>
                                        <td>{{s.cantidad}}</td>
                                        <td>
                                            {% if s.unidad == '1' %}
                                            Pieza
                                            {% elif s.unidad == '2' %}
                                            Cubeta
                                            {% elif s.unidad == '3' %}
                                            Galón
                                            {% elif s.unidad == '4' %}
                                            Bulto
                                            {% elif s.unidad == '5' %}
                                            m³
                                            {% elif s.unidad == '6' %}
                                            Kg
                                            {% elif s.unidad == '7' %}
                                            Tonelada
                                            {% elif s.unidad == '8' %}
                                            Milla
                                            {% elif s.unidad == '9' %}
                                            Litro
                                            {% elif s.unidad == '10' %}
                                            Juego
                                            {% elif s.unidad == '11' %}
                                            Lote
                                            {% elif s.unidad == '12' %}
                                            m²
                                            {% endif %}


                                        </td>
                                        <td><input type="number" name="compra" id="compra" required></td> 
                                        <td><input type="hidden" name="solicitud" value={{s.id}}></td>  
                                    </tr>
                                    {% endfor %}
                                    
                                    </tbody>
                                </table>
                                <hr>

                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 col-md-8 col-sm-8 col-xs--"></div>
                            <div class="col-4 col-md-4 col-sm-8 col-xs-8">
                                <a type="reset" value="Cancelar" style="background-color:#F20505; color:white" href="{% url 'app:listar_solicitudes' %}" class="btn btn-md">Cancelar</a>
                                <input type="submit" value="Guardar" style="background-color:#110273; color:white" value="Guardar" class="btn btn-md">
                            </div>
                            
                        </div>
                        
                    </form>
                  
                <di
                  </div>
                </div>
              </div>
            </div>
        </div>

        {% include 'comun/script.html' %}
        <script src={% static "app/js/solicitudes.js" %}></script>
   
</body>


</html>