<!DOCTYPE html>
<html>
<head>
    
    <title>Añadir Producto</title>
    {% include "comun/estilos.html"%}
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Page content -->
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-header" style="background-color:#110273;">
                                <h3 style="color:white">Modificar Compra</h3>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                           {% for s in solicitudes  %}
                                           <label for="">{{s.descripcion}}</label>
                                           <input type="hidden" name="solicitud" value="{{s.id}}">
                                           {% endfor %}
                                          </div>
                                        <div class="form-group col-md-7">
                                            {{form.compra.label_tag}}
                                            {{form.compra}}
                                        </div>

                                    </div>
                                    
                                   
                                    <input type="reset" value="Cancelar" style="background-color:#F20505; color:white"  class="btn btn-md">
                                    <input type="submit" value="Guardar" style="background-color:#110273; color:white" value="Guardar" class="btn btn-md">
                                </form>
                                {{mensaje}}
                        </div>
                    </div>
                </div>
       
        </div>
        
        
    </div>

    {% include 'comun/script.html'  %}
   
</body>

</html>