{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Inventario</title>
    {% include "comun/estilos.html"%}
    {% load bootstrap5 %}
    <link rel="stylesheet" href={% static 'app/css/inventario.css' %} type="text/css">
   
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>
        
         
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="card">
              <div class="card-header" style="background-color:#110273;">
                <div class="row">     
                  <div class="col-6">
                    <h3 style="color:white">Lista de Solicitudes de Material</h3>
                  </div>
                  <div class="col-6">
                    
                  </div>
                </div>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-5"></div>
                  <div class="col-7">
                   
                  </div>
                  
                </div>
                <div class="container">
                  <div class="row mt-2">
                    
                    <div class="col-12">
                      <div class="table-responsive">
                        <table cellspacing="0" id="tabla" class="table table-hover">
                          <thead>
                            <tr>
                              <th >Solicitud</th>
                              <th>Obra</th>
                              <th>Productos</th>
                              <th>Opciones</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            {% for s in solicitud %}
                            <tr>
                              <td><strong>{{s.solicitud}}</strong></td>
                              <td>{{s.obra__nombre}}</td>
                              <td>{{s.total}}</td>
                              <td>
                                {% if perms.app.change_compra %}
                                <a class="btn btn-sm" style="background-color:#110273; color:white" href="{% url 'app:compras' s.solicitud %}" >Registrar Compra</a>
                                <a class="btn btn-sm" style="background-color:#F20505; color:white" href="{% url 'app:ver_compra' s.solicitud %}" >Ver Compra</a>
                                {% endif %}
                                {% if perms.app.view_solicitud %}
                                <a class="btn btn-sm" style="background-color:#34495E; color:white" href="{% url 'app:requisiciones' s.solicitud %}" >Ver Requisición</a>
                                {% endif %}
                              </td>   
                            </tr>
                            {% endfor %}
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
        

{% include 'comun/script.html' %}
<script src={% static "app/js/paginator.js" %}></script>
   
</body>

</html>