{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Inventario</title>
    {% include "comun/estilos.html"%}
    {% load bootstrap5 %}
    <link rel="stylesheet" href={% static 'app/css/inventario.css' %} type="text/css">
   
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="card">
              <div class="card-header" style="background-color:#110273;">
                <div class="row">     
                  <div class="col-6">
                    <h3 style="color:white">Lista de Obras</h3>
                  </div>
                  <div class="col-6">
                    <a class="btn btn-sm float-right" style="background-color:#F20505; color:white;" href="{% url 'app:agregar_obra' %}">Agregar Obra</a>
                  </div>
                </div>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-5"></div>
                  <div class="col-7">
                   
                  </div>
                  
                </div>
                <div class="container">
                  <div class="row mt-2">
                    
                    <div class="col-12">
                      <div class="table-responsive">
                        <table cellspacing="0" id="tabla" class="table table-hover" id="obras">
                          <thead>
                            <tr>
                              <th >Nombre</th>
                              <th>Ubicación</th>
                              <th >Total villas</th>
                              <th>Status</th>
                              <th >Opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for o in obras %}
                            <tr>
                              <td>{{o.nombre}}</td>
                              <td>{{o.ubicacion}}</td>
                              <td>{{o.total_villas}}</td>
                              <td>
                                {% if o.status == '3' %}
                                  <span class="badge badge-dot mr-4">
                                    <i class="bg-info"></i>
                                    <span class="status">En proceso</span>
                                  </span>
                                {% elif o.status == '1' %}
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-warning"></i>
                                  <span class="status">Pendiente</span>
                                </span>

                                {% elif  o.status == '2'%}
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-success"></i>
                                  <span class="status">Finalizado</span>
                                </span>
                                {% endif %}
                                
                             
                              <td>
                                {% if perms.app.change_obra %}
                                <a class="btn btn-sm" style="background-color:#110273; color:white" href="{% url 'app:modificar_obra' o.id %}" >Modificar</a>
                                <a class="btn btn-sm" style="background-color:#F20505; color:white" onclick="eliminarObra({{o.id}})">Eliminar</a>
                                {% endif %}
                              </td>   
                            </tr>
                            {% endfor %}
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
        

        {% include 'comun/script.html' %}
        <script src={% static "app/js/paginator.js" %}></script>
   
</body>

</html>