{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Grupo Abrasan">
<!-- Favicon -->
<link rel="icon" type="image/jpge" sizes="20x20" href={% static 'app/img/Logo.jpeg' %}>
<!-- Fonts -->
<!-- Icons -->
<link rel="stylesheet" href={% static 'app/css/argon/nucleo.css' %} type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<!-- Argon CSS -->
<link rel="stylesheet" href={% static 'app/css/argon/argon.css' %} type="text/css">
<link rel="stylesheet" href={% static 'app/css/dashboard.css'%} type="text/css">
