<!DOCTYPE html>
<html>
<head>
    
    <title>Añadir Producto</title>
    {% include "comun/estilos.html"%}
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Page content -->
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header" style="background-color:#110273;">
                                <h3 style="color:white">Agregar producto a bodega</h3>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="">{{producto.descripcion}}</label>
                                            <input type="hidden" name="producto" value="{{producto.id}}">

                                        </div>
                                        <div class="form-group col-md-5">
                                            <h4>Producto disponible en Inventario</h4>
                                           <p>{{producto.disp}}</p>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="bodega"> Asignar a bodega:</label><br>
                                            <select name="bodega" id="bodega">
                                                {% for b in bodegas  %}
                                                    <option  value="{{b.id}}">{{b.nombre}}</option>
                                                {% endfor %}
                                                </select>     
                                          </div>
                                        
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="">Minimo</label><br>
                                            <input  type="number" name="minimo" id="minimo">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">Cantidad</label><br>
                                            <input  type="number" name="cantidad" id="cantidad">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="">Ubicación</label><br>
                                            <input  type="text" name="ubicacion" id="ubicacion">
                                        </div>
                                        
                                    </div>
                                    
                                   
                                    <input type="reset" value="Cancelar" style="background-color:#F20505; color:white" href="{% url 'app:listar_inventario' %}"  class="btn btn-md">
                                    <input type="submit" value="Guardar" style="background-color:#110273; color:white" value="Guardar" class="btn btn-md">
                                </form>
                                {{mensaje}}
                        </div>
                    </div>
                </div>
       
        </div>
        
        
    </div>

    {% include 'comun/script.html'  %}
   
</body>

</html>